@import './variables.css';


* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: var(--color-blank-area-bg);
}